
button.btn-delivery {
    background: #39b54a;
}
.btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

button.btn-danger {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.hide {
    visibility: hidden;
}
button.btn-accept {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
button.btn-pending {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}