<!-- START OF RIGHT PANEL -->
<div class="container main-content p-5">
   <div class="row">
      <div class="col-md-12">
         <div class="col-lg-12 col-md-7 forgot-box card text-center shadow">
            <h3 class="forgot-title">
               <p class="text-center">Activate your account</p>
            </h3>
            <span class="forgot-password-secondary-title">
               Thanks for taking time to register. Your account is pending email verification.
            </span>
            <br>
            <p>In few minutes you should receive an email with verification link from the email address <a
                  style="color:#16a085;" href="mailto:cheftogo.net@gmail.com" target="_top">cheftogo.net@gmail.com</a>.
               Click that link to verify your account.</p>
            <br>
            <span class="forgot-password-secondary-title">
               If you can't find our email, please check your junk/spam folder.
            </span>
            <br>
            <div class="p-3">
                     <button (click)="resendEmail()" class="btn btn-primary btn-login resend-email"
                        type="button">Resend activation email</button>
            </div>   
         </div>
      </div><!-- end of .col-md-12 -->
   </div><!-- end of .row -->
</div><!-- end of .container -->
<!-- END OF RIGHT PANEL -->
