<section class="p-0" data-aos="fade-in" data-aos-delay="100">
  <div class="text-center">
      <div class="resturant-list-item resturant-list-item-inner aos-init aos-animate" data-aos="fade-up">
          <div class="resturant-banner" style="background-image: url('assets/images/mcdonalds-banner.webp');">
          </div>
          <div class="content">
              <div class="logo-wrapper">
                  <div class="logo">
                      <img src="assets/images/mcdonalds.webp" class="img-fluid">
                  </div>
              </div>
              <h2 class="section-heading section-heading-no-b mt-4">McDonald's <span class="para"><img src="assets/images/star.webp"> 4.1/5 (2k+)</span></h2>
              <p class="para mt-0 text-center">
                  12 ABC 0 St, New York, NY 00000, United States
              </p>
              <ul class="para d-flex justify-content-center flex-wrap food-cat">
                  <li>American</li>
                  <li>Beverages</li>
                  <li>Burgers</li>
                  <li>Deserts</li>
                  <li>Fast Food</li>
              </ul>
          </div>
      </div>                                                                                 
  </div>
</section>      


<div class="detail_slider_wrapper">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="detail_slider_wrapper_text">
                        <a class="cat-link" href="#cat1"><h4>SPECIAL DEALS</h4></a>
                    </div>
                </div>
                <div class="item">
                    <div class="detail_slider_wrapper_text">
                      <a class="cat-link" href="#cat2"><h4>EXCLUSIVE DISCOUNTED DEAL</h4></a>
                    </div>
                </div>
                <div class="item">
                    <div class="detail_slider_wrapper_text">
                      <a class="cat-link" href="#cat3"><h4>MEALS & BURGERS</h4></a>
                    </div>
                </div>
                <div class="item">
                    <div class="detail_slider_wrapper_text">
                      <a class="cat-link" href="#cat4"><h4>VALUE MEALS</h4></a>
                    </div>
                </div>
                <div class="item">
                    <div class="detail_slider_wrapper_text">
                      <a class="cat-link" href="#cat5"><h4>CRISPY CHICKEN</h4></a>
                    </div>
                </div>    
                <div class="item">
                  <div class="detail_slider_wrapper_text">
                    <a class="cat-link" href="#cat5"><h4>DESERTS</h4></a>
                  </div>
              </div>                        
            </div>
          </div>
      </div>
  </div>
</div>

<section class="p-0" data-aos="fade-up">
  <div class="container">
      <div class="row">
          <div class="col-12 col-sm-8 col-md-8 col-lg-8">
              <div class="row" id="cat1">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="row mb-2">
                          <div class="col-md-12 p7-5">
                              <h3 class="small-heading mt-4 mb-3 text-black">Special Deals</h3>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <p class="menu-title"><b>Spicy Grand Chicken & Regular. Drink </b> </p>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 12.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <p class="menu-title"><b>2 Chicken Chapli, 2 Spicy Chicken Burger</b> </p>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 15.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <p class="menu-title"><b>2 Chicken Chapli, 2 Spicy Chicken Burger ...</b> </p>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 12.00</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row" id="cat2">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="row mb-2">
                          <div class="col-md-12 p7-5">
                              <h3 class="small-heading mt-4 mb-3 text-black">Exclusive Discounted Deal</h3>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <p class="menu-title"><b>BigMac and Regular drink</b> </p>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 10.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <p class="menu-title"><b>3 Filet-O-Fish Burgers </b> </p>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 11.00</span>
                                  </div>
                              </div>
                          </div>
                        
                      </div>
                  </div>
              </div>
              <div class="row" id="cat3">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="row mb-2">
                          <div class="col-md-12 p7-5">
                              <h3 class="small-heading mt-4 mb-3 text-black">Special Deals</h3>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <div class="row m-0">
                                      <div class="col-9 p-0">
                                          <p class="menu-title"><b>Double Beef n Cheese Burger</b> </p>
                                          <p class="menu-desc">Get double tne flavour! The first hit of  sear-sizzled 100% pure beef gets your...</p>
                                      </div>
                                      <div class="col-3 p-0">
                                          <img src="assets/images/deal1.webp" class="img-fluid">
                                      </div>
                                  </div>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 12.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <div class="row m-0">
                                      <div class="col-9 p-0">
                                          <p class="menu-title"><b>Double Beef n Cheese Burger</b> </p>
                                          <p class="menu-desc">Get double tne flavour! The first hit of  sear-sizzled 100% pure beef gets your...</p>
                                      </div>
                                      <div class="col-3 p-0">
                                          <img src="assets/images/deal1.webp" class="img-fluid">
                                      </div>
                                  </div>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 12.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <div class="row m-0">
                                      <div class="col-9 p-0">
                                          <p class="menu-title"><b>Double Beef n Cheese Burger</b> </p>
                                          <p class="menu-desc">Get double tne flavour! The first hit of  sear-sizzled 100% pure beef gets your...</p>
                                      </div>
                                      <div class="col-3 p-0">
                                          <img src="assets/images/deal1.webp" class="img-fluid" >
                                      </div>
                                  </div>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 12.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card">
                                  <div class="row m-0">
                                      <div class="col-9 p-0">
                                          <p class="menu-title"><b>Double Beef n Cheese Burger</b> </p>
                                          <p class="menu-desc">Get double tne flavour! The first hit of  sear-sizzled 100% pure beef gets your...</p>
                                      </div>
                                      <div class="col-3 p-0">
                                          <img src="assets/images/deal1.webp" class="img-fluid">
                                      </div>
                                  </div>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 12.00</span>
                                  </div>
                              </div>
                          </div>
                                                                                  
                      </div>
                  </div>
              </div>  
              <div class="row" id="cat4">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <div class="row mb-2">
                          <div class="col-md-12 p7-5">
                              <h3 class="small-heading mt-4 mb-3 text-black">Desserts</h3>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card menu-card-img">
                                  <div class="row m-0">
                                      <div class="col-9 p-0">
                                          <p class="menu-title"><b>Strawberry Sundae</b> </p>
                                          <p class="menu-desc">Let the love affair begin! It's a delicious delight of sundae mix made with milk ...</p>
                                      </div>
                                      <div class="col-3 p-0">
                                          <img src="assets/images/sweet-1.webp" class="img-fluid">
                                      </div>
                                  </div>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 5.00</span>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6 p7-5">
                              <div class="menu-card menu-card-img">
                                  <div class="row m-0">
                                      <div class="col-9 p-0">
                                          <p class="menu-title"><b>Sundae Hot Fudge</b> </p>
                                      </div>
                                      <div class="col-3 p-0">
                                          <img src="assets/images/sweet-2.webp" class="img-fluid">
                                      </div>
                                  </div>
                                  <div class="d-flex justify-content-between flex-wrap">
                                      <span class="price">$ 12.00</span>
                                  </div>
                              </div>
                          </div>                                                  
                      </div>
                  </div>
              </div>   
          </div>
          <div class="col-12 col-sm-4 col-md-4 col-lg-4">
              <div class="calculator_wrapper">
                  <h4>Your Cart</h4>
              </div>
              <div class="calculator_wrapper_box_01 calculator_wrapper_box_02 calculator_wrapper_box_03">
                  <ul>
                      <li><img src="assets/images/close.webp" class="img-fluid"></li>
                      <li>
                          <p>Restaurant is currently not open. Please try later.</p>
                      </li>
                  </ul>
              </div>
              <div class="calculator_wrapper_box_01">
                  <h5>Order Summary</h5>
                  <ul>
                      <li>Subtotal <span> $ 00.00</span></li>
                      <li>Delivery fee <span>$ 00.00</span></li>
                      <li>Total (Incl. GST) <span>$ 00.00</span></li>
                  </ul>
                  <button>checkout</button>
              </div>
          </div>
      </div>                                             
  </div>
</section>