<!-- START OF RIGHT PANEL -->
<div class="container main-content p-5">
   <div class="row">
      <div class="col-md-12">
         <div class="col-lg-12 col-md-7 forgot-box card  text-center shadow">
            <h3 class="forgot-title">
               <!-- <a class="forgot-back-btn" href="">
               <i class="fas fa-arrow-left"></i></a>
               &nbsp; -->
               Forgot your password?
            </h3>
            <span class="mt-3 mb-4">If your email address exists in our database, we will send you instructions on how to reset your password. If you can't find the email, check your junk/spam folder.</span>
            <!-- <span class="mb-2 text-center"><a href="">Resend email to reset password</a></span>
            <span class="mb-3 text-center"><a href="">Log in</a></span> -->
         </div>
      </div><!-- end of .col-md-12 -->
   </div><!-- end of .row -->
</div><!-- end of .container -->
<!-- END OF RIGHT PANEL -->