
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <ul>
          <li>INFORMATION</li>
          <li><a href="javascript:;" routerLink="/signup-resturant" routerLinkActive="active" >Restaurant Signup</a></li>
          <li><a href="javascript:;" routerLink="/vendor-login" routerLinkActive="active" >Restaurant Login</a></li>
          <li><a href="javascript:;">About Us</a></li>
        </ul>
        <ul class="mt-4">
          <li>HELP</li>
          <li><a href="javascript:;">Support</a></li>
          <li><a href="javascript:;">Contact</a></li>
        </ul>        				
      </div>
      <div class="col-md-3 offset-md-1 col-sm-12">
        <ul>
          <li>LEGAL</li>
          <li><a href="javascript:;">Terms of Service</a></li>
          <li><a href="javascript:;">Privacy Policy</a></li>
          <li><a href="javascript:;">Account Security</a></li>
        </ul>      				
      </div>
      <div class="col-md-3 offset-md-1 col-sm-12">
        <ul>
          <li>Social Media</li>
        </ul>      				
    <ul class="d-flex flex-wrap social-media">
        <li><a href="javascript:;"><img src="assets/images/twitter.webp"></a></li>
        <li><a href="javascript:;"><img src="assets/images/facebook.webp"></a></li>
        <li><a href="javascript:;"><img src="assets/images/instagram.webp"></a></li>
        <li><a href="javascript:;"><img src="assets/images/linkedin.webp"></a></li>
    </ul>
      </div>        			
    </div>
  </div>
  <hr>
  <div class="container bottom-bar">
    <div class="row">
      <div class="col-md-12">
        <p>All rights reserved. © 2020</p>
      </div>
    </div>
  </div>
</footer>
<div class="back-to-top text-white"><span class="fa fa-arrow-up"></span></div>
<!--
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/popper.min.js"></script>
<script type="text/javascript" src="assets/slick/slick/slick.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script type="text/javascript" src="assets/animatescroll/animatescroll.min.js"></script>
<script type="text/javascript" src="assets/js/multiselect.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
-->
