    <div class="row mt-4">
        <div class="col-md-12">
            <div class="slider loading" data-aos="fade-up" data-aos-delay="200">
                <div  *ngFor="let cat of category;index as i;" class="slide">
                    <div class="slide-image">
                        <img src="{{imgageUrl+cat.image}}">
                    </div>                              
                    <a href="#" class="small-heading mt-4 text-black">{{cat.name}}</a>
                </div>
                <!--
                <div class="slide">
                    <div class="slide-image">
                        <img src="assets/images/cuisine-2.webp">
                    </div>                              
                    <a href="#" class="small-heading mt-4 text-black">Pizza</a>
                </div>
                <div class="slide">
                    <div class="slide-image">
                        <img src="assets/images/cuisine-3.webp">
                    </div>                              
                    <a href="#" class="small-heading mt-4 text-black">Sandwich</a>
                </div>
                <div class="slide">
                    <div class="slide-image">
                        <img src="assets/images/cuisine-4.webp">
                    </div>                              
                    <a href="#" class="small-heading mt-4 text-black">Seafood</a>
                </div>
                <div class="slide">
                    <div class="slide-image">
                        <img src="assets/images/cuisine-4.webp">
                    </div>                              
                    <a href="#" class="small-heading mt-4 text-black">Seafood</a>
                </div>
                <div class="slide">
                    <div class="slide-image">
                        <img src="assets/images/cuisine-4.webp">
                    </div>                              
                    <a href="#" class="small-heading mt-4 text-black">Seafood</a>
                </div>  
            -->                                                    
            </div>
        </div>                                  
    </div>