<!-- START OF RIGHT PANEL -->
<div class="container main-content p-5">
   <div class="row">
      <div class="col-md-12">
         <div class="col-lg-12 col-md-7 forgot-box card text-center shadow">
            <h3 class="forgot-title">
               <!-- <a class="forgot-back-btn"href="javascript:;"  routerLink="/order">
               <i class="fas fa-arrow-left"></i></a>
               &nbsp; -->
               Forgot your password?
            </h3>
            <span class="forgot-password-secondary-title">Don't worry. We will email you the password reset instructions.</span>
            <div class="p-3">
                <label>Email</label>
                &nbsp;
                <input type="email" name="email" class="form-c" id="email" [(ngModel)]="email"
                 placeholder="">
            </div>
            <div class="p-3">
                <button  class="btn btn-primary btn-login"
                   type="button" (click)="requestPassword()">Request Password</button>
            </div> 
         </div>
      </div><!-- end of .col-md-12 -->
   </div><!-- end of .row -->
</div><!-- end of .container -->
<!-- END OF RIGHT PANEL -->
