<app-home-banner></app-home-banner>
<section class="pt-0">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-3 col-sm-12 text-center">
              <h2 class="section-heading" data-aos="zoom-in">
                  Order food online from your<br>
                  favorite restaurants
              </h2>
              <p class="para mt-4" data-aos="zoom-in" data-aos-delay="100">
                  Cozy at home? Having friends over? Busy day at work?<br>We’re here for you. Order in a few taps 
              </p>
          </div>
      </div>
      <div class="row mt-4">
          <div class="col-sm-6 p-0 intro-box"  data-aos="zoom-in" data-aos-delay="200" >
              <div class="row m-2">
                  <div class="col-sm-5 pl-0 position-relative box-left">
                      <img src="assets/images/box1.webp" class="img-fluid" data-aos="zoom-in" data-aos-delay="500">
                  </div>
                  <div class="col-sm-6 pr-0 p-4 pl-0 pr-0 box-right" data-aos="zoom-in" data-aos-delay="600">
                      <h3 class="small-heading mb-3">The Restaurant</h3>
                      <p class="para-2 mb-0">
                          Quality and safety of food is our 
                          top priority. Chef to go through 
                          a evaluation process to ensure 
                          you only order from trusted 
                          restaurant.
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 p-0 intro-box" data-aos="zoom-in" data-aos-delay="400">
              <div class="row m-2">
                  <div class="col-sm-5 pl-0 position-relative box-left">
                      <img src="assets/images/box2.webp" class="img-fluid" data-aos="zoom-in" data-aos-delay="700">
                  </div>
                  <div class="col-sm-6 pr-0 p-4 pl-0 pr-0 box-right" data-aos="zoom-in" data-aos-delay="800">
                      <h3 class="small-heading mb-3">The HomeChef</h3>
                      <p class="para-2 mb-0">
                          The best thing about HomeChef 
                          is you do not have to worry 
                          about buying groceries and c
                          ooking. Once you order, just sit 
                          back and relax.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="section-dark">
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1 col-sm-12 text-center">
              <h2 class="section-heading" data-aos="zoom-in">
                  How it Works?
              </h2>
              <p class="para mt-4 text-center" data-aos="zoom-in" data-aos-delay="100">
                  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br>
                  Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, 
                  purus lectus malesuada libero, sit amet commodo magna eros quis urna. 
                  Nunc viverra imperdiet enim. Fusce est.  
              </p>
          </div>
      </div>
      <div class="row mt-4 text-center">
          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="200">
              <img src="assets/images/magnify.webp">
              <h3 class="small-heading mt-3 text-black">Discover</h3>
              <p class="para-2 mt-2">
                  Search, browse and discover delicous restaurant and homemade meal.
              </p>
          </div>
          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="300">
              <img src="assets/images/cart.webp">
              <h3 class="small-heading mt-3 text-black">Order</h3>
              <p class="para-2 mt-2">
                  Add all your favorite dishes to your  shopping cart and place your order.
              </p>
          </div>
          <div class="col-md-4" data-aos="zoom-in" data-aos-delay="400">
              <img src="assets/images/cutlery.webp">
              <h3 class="small-heading mt-3 text-black">Discover</h3>
              <p class="para-2 mt-2">
                  Sit back, relax and enjoy a delicious  restaurant and homemade meal.
              </p>
          </div>
      </div>
  </div>
</section>
<section>
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1 col-sm-12 text-center">
              <h2 class="section-heading" data-aos="zoom-in">
                  Popular Cuisines
              </h2>
              <p class="para mt-4 text-center" data-aos="zoom-in" data-aos-delay="100">
                  What are your favorite cuisines?
              </p>
          </div>
      </div>
      <app-slider></app-slider>
  </div>
</section>
<section class="section-dark">
  <div class="container">
      <div class="row">
          <div class="col-md-10 offset-md-1 col-sm-12 text-center">
              <h2 class="section-heading" data-aos="zoom-in">
                  Want to be part of the family?
              </h2>
              <p class="para mt-4 text-center" data-aos="zoom-in" data-aos-delay="100">
                  Join as a restaurant on the app or for an online order
              </p>
          </div>
      </div>
      <div class="px-5 cta">
          <div class="row mt-4">
              <div class="col-md-5 p-0" data-aos="zoom-in" data-aos-delay="200">
                  <img src="assets/images/dishes.webp" class="img-fluid">
              </div>
              <div class="col-md-7 d-flex flex-wrap align-content-center pl-xl-0 pr-5"  data-aos="zoom-in" data-aos-delay="400">
                  <h3 class="heading mb-4">Grow your restaurant sales with us  by partnering with Chef to go.</h3>
                  <a href="#" class="text-btn" data-aos="zoom-in" data-aos-delay="600">Contact us</a>
              </div>
          </div>
      </div>
  </div>
</section>