<div class="order-status-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="order-page-wrapper-text">
                    <h5>My Orders Status
                        <span>
                            Show :
                            <select>
                                <option>Last 5 orders</option>
                            </select>
                        </span>
                    </h5>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="order-status-boxes">
                    <h6>Order <span>#113649009614734</span></h6>
                    <h5>Placed on 23 Jan 2020 13:36:52</h5>
                    <div class="order-status-line">
                        <ul>
                            <li>
                                <div class="status-dot"></div>
                                <a href="#!">Processing</a>
                            </li>
                            <li>
                                <div class="status-dot"></div>
                                <a href="#!">On the way</a>
                            </li>
                            <li>
                                <div class="status-dot-border"></div>
                                <a href="#!">Delivered</a>
                            </li>
                        </ul>
                        <p><span>14 Nov 2019 - 16:53:00</span> Your Food has been delivered. Thank you for order! </p>
                    </div>
                    <div class="order-status-boxes-1">
                        <div class="order-status-boxes-2">
                            <div class="order-status-boxes-2-first">
                                <img src="assets/images/order-img-1.webp">
                            </div>
                            <div class="order-status-boxes-2-second">
                                <h6> <span> McDonald's </span>  Manhattan, New York City <a href="#!">Qty: 1</a></h6>
                                <h4>Mughlai Beast</h4>
                                <p>Chicken mughlai, jalapeno ranch sauce, onions, mozzarella</p>
                                <p>Delivery by: 13th Street. 47 W 13th St, New York, NY 10011, USA </p>
                            </div>
                        </div>
                        <div class="order-status-boxes-3">
                            <div class="order-status-boxes-3-inner-first">
                                <button>recoder</button>
                            </div>
                        </div>
                    </div>
                    <div class="order-status-boxes-1">
                        <div class="order-status-boxes-2">
                            <div class="order-status-boxes-2-first">
                                <img src="assets/images/order-img-1.webp">
                            </div>
                            <div class="order-status-boxes-2-second">
                                <h6> <span> Pizza Hut </span>  Manhattan, New York City <a href="#!">Qty: 2</a></h6>
                                <h4>Super Cheesy</h4>
                                <p>1 Large Pizza , 4 Pcs Garlic Breads and 1.5 L Drinks</p>
                                <p>Delivery by: 13th Street. 47 W 13th St, New York, NY 10011, USA </p>
                            </div>
                        </div>
                        <div class="order-status-boxes-3">
                            <div class="order-status-boxes-3-inner-first">
                                <button>recoder</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>